.list{
    margin-top: 5%; 
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;
    width:900px;

}

.list li{
    /* text-align: left; */
    border-radius: 10px;
    border: 2px solid black;
    height: 180px;
    width: 28%;
    margin-top: 20px;
}



.list li>*{
    margin-bottom: 7px;
}
.btnMore{
    border: 0;
    outline: 0;
    padding: 10px;
    background-color: yellow;
    border-radius: 10px;
    margin-left: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    right: 100px;
}